include ../partials/mixins.pug
doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= title + ' | Grand Hotel'
    link(rel="preconnect", href="https://fonts.googleapis.com")
    link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Cormorant:wght@400;500;600;700&family=Montserrat:wght@300;400;500;600;700&display=swap", rel="stylesheet")
    link(rel="stylesheet", href="/stylesheets/frontend.css")
  body.bg-cream.text-slate-800.antialiased
    include ../partials/header.pug
    main
      block content
    include ../partials/footer.pug
